.barPurple {
  height: 5px;
  width: 100px;
  background: var(--green-color);
  margin: 20px 0 25px;
  position: relative;
  border-radius: 30px;
  display: inline-block;
}

@keyframes MOVE-BG {
  0% {
    left: 0;
  }

  100% {
    left: 100px;
  }
}

.barPurple::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--green-color);
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: MOVE-BG;
}
