.hideNav {
    display: block;
}

.hideFooter {
    display: block;
}



@media screen and (max-width: 768px) {
    .hideNav {
        display: none;
    }

    .hideFooter {
        display: none;
    }
}

@media only screen and (max-width: 600px) and (min-width: 430px) {
    .changeBackroundColor {
        background-color: white !important;
    }
}