.tabstyle {
    display: flex;
    justify-content: space-between;

}

.css-k008qs {
    display: flex;
    justify-content: space-between;
}

.css-heg063-MuiTabs-flexContainer {
    display: flex;
    justify-content: space-between;

}